<ActionBar class="header">
    <NavigationButton ios.position="left" *mbIfAndroid android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <NavigationButton *mbIfIos visibility="collapse"></NavigationButton>
    <ActionItem *mbIfIos>
        <Image src="~/images/icon/ios_back.png" (tap)="goBack();" class="actionArrow"></Image>
    </ActionItem>
    <StackLayout class="iosActionbar" *mbIfIos>
        <mb-header [title]="title"></mb-header>
    </StackLayout>
    <StackLayout *mbIfAndroid>
        <mb-header [title]="title"></mb-header>
    </StackLayout>
</ActionBar>
<mb-side-menu *mbIfAndroid></mb-side-menu>
<GridLayout rows="*" columns="*">
    <mb-side-menu *mbIfIos></mb-side-menu>
    <StackLayout class="contact-us">
        <ScrollView>
            <StackLayout orientation="vertical" [ngClass]="timePeriod ? 'active' : 'deactive'">

                <Label text="Load Time :  {{ pageTimeDifference }} ms " textWrap="true" style="text-align: right; padding-right: 5"> </Label>

                <GridLayout class="headerSection" rows="auto" columns="*, 130">
                    <StackLayout row="0" col="0" class="text">
                        <Label textWrap="true" class="title" text="Questions? Call Member Service"></Label>
                        <Label class="lightBlue" textWrap="true" text="Hours of operation:"></Label>
                        <Label class="lightBlue" textWrap="true" text="Monday - Friday 8am - 6pm EST"></Label>
                    </StackLayout>

                    <StackLayout (tap)="callPhone(isLoggedIn ? '1-888-247-2583' : '1-888-247-BLUE(2583)')" row="0" col="1" verticalAlignment="middle" class="phone" orientation="horizontal">
                        <Label class="font-arial" textWrap="true" text="Call Now"></Label>
                        <Image class="call-icon" src="~/images/redesign/hb-contactus.png"></Image>
                    </StackLayout>
                    <StackLayout row="0" col="1" verticalAlignment="middle" class="phone-deactive" orientation="horizontal">
                        <Label class="font-arial" textWrap="true" text="Call Now"></Label>
                        <Image class="call-icon" src="~/images/redesign/hb-contactus.png"></Image>
                    </StackLayout>
                </GridLayout>
                <GridLayout rows="*" columns="*, 40" class="lost-id">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" class="font-arial" text="Replace lost ID cards"></Label>
                        <Label text="1-888-456-1234"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" (tap)="callPhone('1-888-456-1234')" row="0" col="1" class="call" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" row="0" col="1" class="call-deactive" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call1.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout rows="*, *" columns="*" class="premium">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" textWrap="true" class="font-arial" text="Paying Your Premium"></Label>
                        <Label textWrap="true" text="If you purchased your plan directly through Blue Cross Blue Shield of MA, you can mail your payments to:"></Label>
                    </StackLayout>
                    <StackLayout row="1" col="0" orientation="vertical" class="direct-pay">
                        <Label textWrap="true" textWrap="true" class="font-arial" text="Direct Pay Premium Payments"></Label>
                        <Label textWrap="true" text="P.O. Box 371314"></Label>
                        <Label textWrap="true" text="Pittsburgh, PA 15250-7314"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout rows="*" columns="*, 40" class="financial-account">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" class="font-arial title" text="Financial Accounts"></Label>
                        <Label text="Hours of operation:"></Label>
                        <Label text="Monday - Friday 8am - 6pm EST"></Label>
                        <Label text="1-888-456-1234"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" (tap)="callPhone('1-888-456-1234')" row="0" col="1" class="call" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" row="0" col="1" class="call-deactive" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call1.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout rows="*" columns="*" class="clinical-support">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" textWrap="true" class="font-arial title" text="Clinical Support"></Label>
                        <Label textWrap="true" text="Hours of operation:"></Label>
                        <Label textWrap="true" text="Monday - Friday 8am - 6pm EST"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout rows="*" columns="*, 40" class="clinical-support-list">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" class="font-arial" text="Behavioral Health & Substance Abuse"></Label>
                        <Label text="1-800-444-2426"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" (tap)="callPhone('1-800-444-2426')" row="0" col="1" class="call" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" row="0" col="1" class="call-deactive" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call1.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout rows="*" columns="*, 40" class="clinical-support-list">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" class="font-arial" text="Nurse Care Line / Blue Care Line"></Label>
                        <Label text="1-800-247-BLUE(2583)"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" (tap)="callPhone('1-800-247-2583')" row="0" col="1" class="call" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" row="0" col="1" class="call-deactive" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call1.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout rows="*" columns="*, 40" class="clinical-support-list">
                    <StackLayout row="0" col="0" orientation="vertical">
                        <Label textWrap="true" class="font-arial" text="Mail Service Pharmarcy"></Label>
                        <Label text="1-800-892-5119"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" (tap)="callPhone('1-800-892-5119')" row="0" col="1" class="call" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                    <StackLayout horizontalAlignment="center" row="0" col="1" class="call-deactive" verticalAlignment="middle">
                        <Image class="call-icon" src="~/images/redesign/call1.png"></Image>
                        <Label class="font-arial" textWrap="true" text="Call"></Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout orientation="horizontal" class="curveImage">
                    <Image loadMode="async" verticalAlignment="top" src="~/images/card-shadow.png"></Image>
                </StackLayout>

            </StackLayout>
        </ScrollView>
    </StackLayout>
    <DockLayout style.verticalAlignment="bottom" verticalAlignment="bottom">
        <mb-tab></mb-tab>
    </DockLayout>
</GridLayout>