.scanBtn {
    margin-top: 10;
    background-image: none;
    background-color: #9e0425;
    color: #fff;
}
.scanBtnDisabled {
    margin-top: 10;
    background-image: none;
    background-color: #cccccc;
    color: #fff;
}
#referralInput {
    /*width: 340;*/
    margin: 10 0 0 0;
    border-radius: 6;
    padding:10;
    height: 53;
	width:100%;
    border-style:solid;
    border-color:#ccc;
    border-width:1;
    placeholder-color:#eee
}
Button{
    border-radius: 0;
    text-transform:uppercase
}
.btnClearIcon {
    width: 50;
    height:50;
    margin: 10 0 0 0;
    vertical-align:center;
    horizontal-align: right;
    background-color: transparent;
    padding:0;
    border-color: transparent;
    border-width: 1 
}