@import url('~/platform.css');
ActivityIndicator {
    color: #bf0d32;
    width: 50;
}

Page {
    color: #4f4f4f;
    background-color: #fff;
    font-size: 16;
}

TextField {
    margin: 0;
    padding: 10;
    background-color: #fff;
}

Image {
    margin: 0;
}

Button {
    padding: 10;
     border-color: #034793;
    /*text-transform: uppercase;*/
}

Label {
    margin: 0;
    horizontal-align: left;
    vertical-align: center;
    color: #4f4f4f;
}

#mainContentSection {
    width: 100%;
    height: 100%;
}

.link {
    padding: 0;
    margin: 0;
}

.textLink {
    color: blue;
}

.horizontalLine {
    height: 1;
    border-color: #eeeae1;
    border-width: .5;
    border-style: solid;
}

.pageTitle {
    margin-top: 12;
    margin-bottom: 12;
    margin-left: 19;
    margin-right: 0;
    padding: 0;
    font-weight: normal;
    font-size: 22;
}

.checkbox {
    height: 18;
    width: 18;
}

.icon {
    font-family: 'FontAwesome', 'fontawesome-webfont';
}

.tabView {
    color: #4f4f4f;
}

#TopLeft,
#TopRight {
    horizontal-align: center;
    width: 50%;
}
.segmentedBar {
    color: black;
    width: 100%;
    border-width: 1;
    border-style: solid;
    border-color: #000;
}

#tabView {
    margin: 0 10;
    /*margin-top: 10;*/
}

TextView {
    margin: 0;
    padding: 10;
    background-color: #fff;
}

DropDown {
    margin: 0;
    padding: 17 10;
}

.dropDownContainer {
    background-color: #fff;
    border-radius: 6;
}

/** NOTE: Test xml element space with following styles: **/

.test {
    border-width: 1;
    border-style: solid;
    border-color: blue;
}

.test2 {
    border-width: 1;
    border-style: solid;
    border-color: green;
}
.title{
    font-size: 20;
    font-weight: bold;
    margin-bottom: 10
}
.subTitle{
    font-size: 16;
    font-weight: bold;
    margin-bottom: 10
}

/*Ios*/
.ContentHeight{
    height:100%;
}