<ActionBar title="My App" class="action-bar">
</ActionBar>

<StackLayout class="page" backgroundColor="gray">
    <Button text="launchModal" (tap)="launchModal()" color="orange"></Button>

    <!-- Suggestion view will be visible here but not in the modal page -->
    <RadAutoCompleteTextView [items]="items" suggestMode="Suggest" displayMode="Plain" (suggestionViewBecameVisible)="onSuggestionViewVisible()">
        <SuggestionView tkAutoCompleteSuggestionView>
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label class="suggestion" [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
</StackLayout>