<GridLayout id="medication-filter-modal" rows="*" columns="*">
    <StackLayout>
        <GridLayout rows="180,auto,*" columns="*">
            <StackLayout row="0" class="header-section" col="0" orientation="vertical" horizontalAlignment="center">
                <StackLayout orientation="horizontal" class="modalClose" (tap)="closeModal();" horizontalAlignment="right">
                    <Image src="~/images/icon/close-type3.png"></Image>
                </StackLayout>
                <Image src="~/images/redesign/hb-medications.png"></Image>
                <Label class="title font-arial" horizontalAlignment="center" textWrap="true" text="{{selectedUser.firstName}} {{selectedUser.lastName}}"> </Label>
                <Label class="sub-title" horizontalAlignment="center" textWrap="true" [text]="selectedUser.type"> </Label>
            </StackLayout>
           <StackLayout row="1"  col="0" orientation="vertical" horizontalAlignment="center" class="doctor-details">
                <Label textWrap="true" class="font-arial" text="Prescription History for"> </Label>
                <Label textWrap="true" class="font-arial" text="{{medication.medicationName}} {{medication.form}} {{medication.dosage}}"></Label>
                <!-- <Label textWrap="true" class="speciality" [text]="selectedDoctor.speciality"> </Label> -->
            </StackLayout>
            <StackLayout row="2" col="0" orientation="vertical" horizontalAlignment="center">
                <ScrollView>
                    <StackLayout class="visitDateTop">
                        <StackLayout horizontalAlignment="center" orientation="horizontal" class="visitDates" *ngFor="let item of medication.lastDateFill; let i = index">
                            <Label textWrap="true" [text]="item"> </Label>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </GridLayout>
    </StackLayout>
    <DockLayout style.verticalAlignment="bottom" class="button-layout">
        <Button text="Close" class="font-arial" autocapitalizationType="none" (tap)="closeModal();"></Button>
    </DockLayout>
</GridLayout>
