
.btn {
    font-size: 18;
}

@keyframes example {
    from { background-color: red; }
    to { background-color: green; }
}

.view {
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
}

@import 'nativescript-theme-core/css/core.light.css';
