<TabView selectedIndex="0" (selectedIndexChange)="onIndexChanged($event)" sdkExampleTitle sdkToggleNavButton>
	<StackLayout *tabItem="{title: 'First'}">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="First" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
	<StackLayout *tabItem="{title: 'Second'}">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="Second" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
    <StackLayout *tabItem="{title: 'Third'}" *ngIf="isLogged">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="Third" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
    <StackLayout *tabItem="{title: 'Forth'}">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="Forth" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
</TabView>
