/*#tabView > StackLayout {
    vertical-align: bottom;
    background-color:#f9f9f9;
    
}*/

/*#tabView StackLayout.horizontalLine {
    border-color: #85dadf;
    border-width:4;
    height:2;
}*/


/*#tabView > StackLayout>Label {
    horizontal-align: center;
   
    
}*/