@import url("~/views/contact-uh/contact-uh.common.css");

#submitButtonRipple {
    margin-top: 20;
    width: 100%;
    height: 60;
    margin-bottom: 60;
    background-color: #bf0d32;
    color: #fff;
    border-radius: 25;
}

TextField {
    margin-left:16;
}
