<ns-action-bar [title]="title" <!--- component view navigation directive --->
    ></ns-action-bar>

<!-- additional view content -->
<!-- START_CUSTOM_CODE_homeView -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<ScrollView style="background-image: url('~/resources/About-Oundle-5.jpg'); background-position: center; background-size: cover;">
</ScrollView>
<!-- END_CUSTOM_CODE_homeView -->