<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <Label>
        <FormattedString>
            <Span class="h1" text="h1 "></Span>
            <Span class="h2" text="h2 "></Span>
            <Span class="h3" text="h3 "></Span>
            <Span class="head" text="head "></Span>
            <Span class="h3 label" text="label "></Span>

            <Span class="bigger-head fa" text="&#xf019; "></Span>

            <Span class="title" [text]="bindedText"></Span>
        </FormattedString>
    </Label>
</StackLayout>