@import "nativescript-theme-core/css/blue.css";
.fa {
    font-family: "FontAwesome", "fontawesome-webfont";
    vertical-align: center;
}

.switch {
    margin: 0;
}

.form .input-field .h3,
.form .input-field .h4 {
    vertical-align: top;
}


/* START_CUSTOM_CODE_AdditionalStyles */
TextField {
	border-color: lightgrey;
	border-width: 1;
}

/* END_CUSTOM_CODE_AdditionalStyles */