<ActionBar title="My App" class="action-bar">
</ActionBar>

<ScrollView>
    <StackLayout class="page">
        <Label text="01234" textWrap="true"></Label>
        <Label text="10.520" textWrap="true"></Label>
        <TextField text="01234"></TextField>
        <TextField text="01234"></TextField>
        <TextView text="01234" editable="true"></TextView>
        <TextView text="10.520" editable="true"></TextView>

        <Label [text]="leading" textWrap="true"></Label>
        <TextField [text]="leading"></TextField>
        <TextView [text]="leading" editable="true"></TextView>

        <Label [text]="preceding" textWrap="true"></Label>
        <TextField [text]="preceding"></TextField>
        <TextView [text]="preceding" editable="true"></TextView>
    </StackLayout>
</ScrollView>