<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <StackLayout>
                <Label text="01234" textWrap="true"></Label>
                <Label text="10.520" textWrap="true"></Label>
                <TextField text="01234"></TextField>
                <TextField text="01234"></TextField>
                <TextView text="01234" editable="true"></TextView>
                <TextView text="10.520" editable="true"></TextView>
                <Label [text]="leading" textWrap="true"></Label>
                <Label [text]="preceding" textWrap="true"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>