.drawerRipple {
	width: 100%;
	height: 100%;
}

#drawer-content {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

#drawer-content Image {
	width: 228;
	horizontal-align: center;
	vertical-align: center;
}

#drawer-content .menuItem {
	border-style: solid;
	border-width: .5;
	/*border-color: #9e0425;*/
	background-color: #c71d22;
    margin: 0;
}

#drawer-content .menuItem Label {
	color: #fff;
}

#drawer-content .menuItem StackLayout {
	vertical-align: center;
}

#drawer-content .menuItem StackLayout.menuItemLabel {
	padding-left: 17;
	width: 85%;
	font-size: 14;
}

#drawer-content .menuItem StackLayout.menuItemLabel Label {
	horizontal-align: left;
}

#drawer-content .menuItem StackLayout.menuItemIcon {
	padding-right: 19;
	width: 15%;
}

#drawer-content .menuItem StackLayout.menuItemIcon Label {
	horizontal-align: right; 
   
}


/*#c71d22;*/ 