.tabMenu {
    text-align: center;
    margin: 0;
    padding: 0;
}
/* .tabMenu image {
    width: 22;
    height: 22;
}
.tabBorder {
    border-right-width: 2px;
    border-color: #ffffff;
}
.disableText {
    color: #cccccc;
}
.enableText {
    color: #ffffff;
} */