.avatar{
  background-color: #ffffff;
  width:50;
  height: 50;
  margin-right: 15;
}

.circle-wrapper{
  background-color: #666666;
  border-radius: 100;
  width: 100%;
  height: 100%;
}

@import 'nativescript-theme-core/css/core.light.css';
