
<ActionBar title="My App" class="action-bar">
</ActionBar>



<TabView #tabView (loaded)="onTabLoaded($event)">
	<StackLayout *tabItem="{title: 'NativeScript'}" class="page">

      <ListView [items]="items" class="list-group">
          <ng-template let-item="item">
              <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                  class="list-group-item"></Label>
          </ng-template>
      </ListView>

	</StackLayout>
	<StackLayout *tabItem="{title: 'Icon'}">
		<Image class="m-t-30 m-b-15" src="res://icon" width="80" height="80"></Image>
		<Label text="NativeScript" textWrap="true" class="h2 m-x-auto" color="blue"></Label>
	</StackLayout>
</TabView>


