.message-danger {
    background-color: gray;
    border-color: #E13039;
    border-width: 1 0 1 0;
    color: #FFF;
    font-size: 14;
}

@keyframes pulse {
    0% { background-color: blue; }
    50% { background-color: #98af2d; }
    100% { background-color: red; }
}

#message-manual-journey.pulse {
    border-color: #859927;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
}

@import 'nativescript-theme-core/css/core.light.css';
