@import url("~/views/schedule-appt/schedule-appt.common.css");
.scheduleList1{
    margin: 0 0 -2 0;
    padding-right: 0;
    padding-left: -1;
    width: 100%;
    display: block;
    background-color:whitesmoke;
    border-style: solid;
    border-color:#e3e3e3;
    border-width: 0;
    border-top-width: 1.5;
    
}
.scheduleListImg1{
    margin: 0 0 1 2;
    border-style: solid;
    border-color:#e3e3e3;
    border-width: 0;
    border-top-width: 1.5;
    
}
.scheduleListImg:first-child{
    margin: 0 2 0 0;
    
   
}
.scheduleListImg:last-child{
    margin: 0 0 0 4;
   
}