.main{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    width:100%;
    height:100%
}
#iconScheduleReferral{
    background-image:~/images/welcome/referralBackground.png;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:bottom;
    width:30%;
    height:200;
    padding:30;
    border:none;
    opacity:.8
}
#iconScheduleReferral Image{
    border:none
}
#iconCalltoSchedule{
    height: 45%
}
#iconScheduleOnline Image{
    height: 52%
}

#iconScheduleReferral Image{
    height: 48%
}

#iconScheduleReferral, #iconScheduleOnline, #iconCalltoSchedule {
    width: 100%;
    height: 100%;
}
.scheduleHeader{
    font-size:20;
    padding:20 0 20 15
}

#welcomeContent {    
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position:top;
      margin-top: 0;
  }
.scheduleList{
    margin: 0 0 -2 0;
    padding-right: 0;
    padding-left: -1;
    width: 100%;
    display: block;
    background-color:whitesmoke;
    border-style: solid;
    border-color:#e3e3e3;
    border-width: 0;
    border-top-width: 1;
    
}
.scheduleListImg{
    margin: 0 0 1 2;
    border-style: solid;
    border-color:#e3e3e3;
    border-width: 0;
    border-top-width: 1;
    
}
.scheduleListImg:first-child{
    margin: 0 2 0 0;
    
   
}
.scheduleListImg:last-child{
    margin: 0 0 0 4;
   
}