<StackLayout orientation="horizontal" backgroundColor="gray">
    <StackLayout verticalAlignment="center" width="100" height="100" marginBottom="100" backgroundColor="red">
    </StackLayout>

    <StackLayout verticalAlignment="center" width="100" height="100" marginTop="100" backgroundColor="green">
    </StackLayout>
</StackLayout>

<!-- <GridLayout columns="auto auto" backgroundColor="blue">
    <StackLayout col="0" verticalAlignment="center" width="100" height="100" marginBottom="100" backgroundColor="red">
    </StackLayout>

    <StackLayout col="1" verticalAlignment="center" width="100" height="100" marginTop="100" backgroundColor="green">
    </StackLayout>
</GridLayout> -->

<!-- <GridLayout rows="200" columns="auto auto" backgroundColor="yellow">
    <StackLayout col="0" verticalAlignment="top" width="100" height="100" backgroundColor="red">
    </StackLayout>

    <StackLayout col="1" verticalAlignment="top" width="100" height="100" marginTop="100" backgroundColor="green">
    </StackLayout>
</GridLayout> -->