<Stacklayout>
    <Label text="Textfield returnKeyType: done "></Label>    
    <Textfield  returnKeyType="done"
                (returnPress)="returnPressHandler()"></Textfield>
    <Label text="Textfield returnKeyType: go "></Label>    
    <Textfield  returnKeyType="go"
                (returnPress)="returnPressHandler()"></Textfield>
    <Label text="Textfield returnKeyType: next "></Label>    
    <Textfield  returnKeyType="next"
                (returnPress)="returnPressHandler()"></Textfield>
    <Label text="Textfield returnKeyType: search "></Label>    
    <Textfield  returnKeyType="search"
                (returnPress)="returnPressHandler()"></Textfield>
    <Label text="Textfield returnKeyType: send "></Label>    
    <Textfield  returnKeyType="send"
                (returnPress)="returnPressHandler()"></Textfield>
    <Label text="count is: {{ count }}"></Label>


    <Button text="reset" 
            (tap)="resetCount()">
<Stacklayout>