
<ActionBar title="My App" class="action-bar">
</ActionBar>


<StackLayout class="page">
    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </ng-template>
    </ListView> -->

    <RadListView [items]="items"  class="list-group">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout>
