<GridLayout columns="20, auto" rows="20,50,auto,20,50" backgroundColor="#103F69">
    <Label text="Bar Chart" height="150" row="0" colspan="2"></Label>
        <FlexboxLayout row="1" colspan="2" textAlignment="center">
        <Button id="button" text="Day" (tap)="dayClick()" row="3" colspan="2" width="80"></Button>
        <Button id="button" text="Week" (tap)="weekClick()" row="3" colspan="2" width="80"></Button>
        <Button id="button" text="Month" (tap)="monthClick()" row="3" colspan="2" width="80"></Button>
    </FlexboxLayout>

    <Label text="Left" col="0" row="2" color="#ffffff" textAlignment="center" class="rotateLabel"></Label>
    <RadCartesianChart tkExampleTitle tkToggleNavButton col="1" row="2" height="450" width="390">
         <DateTimeContinuousAxis tkCartesianHorizontalAxis [dateFormat]="dateFormat" labelFitMode="Rotate" labelRotationAngle="-1.4"
            verticalLocation="Bottom" labelTextColor="White" lineColor="White" plotMode="BetweenTicks" lineThickness="1" [majorStep]="majorStep"
            [minimum]="minDate" [maximum]="maxDate"></DateTimeContinuousAxis>
        <LinearAxis tkCartesianVerticalAxis majorStep="1" labelTextColor="White" lineColor="White" labelFormat="%.0f"></LinearAxis>
        <BarSeries tkCartesianSeries [items]="chartData" categoryProperty="{{categoryAxisField}}" valueProperty="{{valueAxisField}}"
            seriesName="barSeries" legendTitle="Steps"> </BarSeries>
        <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true" horizontalStrokeColor="White" horizontalStrokeWidth="1"></RadCartesianChartGrid>
        <LineSeries tkCartesianSeries [items]="chartData" categoryProperty="{{categoryAxisField}}" valueProperty="Duration"
            seriesName="targetLine" legendTitle="Target"></LineSeries>
        <Palette tkCartesianPalette seriesName="targetLine">
            <PaletteEntry tkCartesianPaletteEntry strokeColor="Green" strokeWidth="3" fillColor="Green"></PaletteEntry>
        </Palette>
        <Palette tkCartesianPalette seriesName="barSeries">
            <PaletteEntry tkCartesianPaletteEntry fillColor="White" strokeWidth="0" strokeColor="White"></PaletteEntry>
        </Palette>
          <RadLegendView tkCartesianLegend position="Top"></RadLegendView>
    </RadCartesianChart>
    <Label text="date" row="3" colspan="2" color="#ffffff" textAlignment="center"></Label>
    <Button id="button" text="Next" height="150" [nsRouterLink]="[ '/stackChart']" row="4" colspan="2" width="200"></Button>
</GridLayout>