@import url("~/components/access-uh/access-uh.common.css");

.accessUHRipple {
    background-color: #f9f9f9;
    /*height: 100%;*/
}

/*#iconFindER Image {
    height: 33.5%
}

#iconPHR Image{
    height: 37%
}

#iconReferralEase Image {
    height: 38%;
}

#iconFindProvider Image{
    height: 62%
}

#iconFindLocation Image {
    height: 60%
}


#iconFindProvider,#iconFindLocation, #iconFindER, #iconReferralEase, #iconPHR {
    width: 100%;
    height: 100%;*/
}
