/*#iconPHR,
#iconFindProvider,
#iconFindLocation,
#iconFindER, #iconReferralEase, #iconScheduleReferral, #iconScheduleOnline, #iconCalltoSchedule {
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    vertical-align:center;
}

#iconFindProvider,
#iconFindLocation,
#iconFindER, #iconCalltoSchedule, #iconScheduleOnline {
    background-color: #f9f9f9;
}

#iconPHR {
    background-size: 178 132;
}

#iconFindProvider {
    background-size: 86 124;
  }

#iconFindLocation {
    background-size: 108 126;
  }

#iconFindER {
    background-size: 284 62;
}
.findImage {
    horizontal-align:center;
}*/


/*New design Css* renu*/
    

#welcomeContent {
  
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
}

#menus{
background-position:bottom;
position:absolute;
vertical-align:bottom;
}
.imgphr{
    background-image:~/images/welcome/uhv/phr.png
}