.custom-action-bar {
    padding: 0;
    background-color: #fff;
    /*border-style: solid;
    border-width: 2;
    border-color: #eeeae1;*/
}
/*#vertRule{
    width:5%
}
#vertRule > label{
    height:56;
    width:2;
    background-color:#f7f3ef 
}*/

#titleView {
    padding: 0;
    margin: 0;
}

    #titleView > StackLayout {
        width: 100%;
    }

#logo {
    margin: 0;
    margin-left: 3;
    vertical-align: center;
    height: 30;
}


/*#contactUH {
    vertical-align: center;
    /*text-align: left;*/
    /*height: 100%;
}*/

    /*#contactUH Label {
     
        font-weight: bold;
        
    }*/

    /*#contactUH .contactUHNumber {
        color: #ed3942;
      
    }*/

#drawerButton {
    background-image: res://ic_stackmenu;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15;
}
