@import url("~/common/styles/filters.css");

#filterBySection > StackLayout {
    width: 50%;
}

#chkFilterSelectAll {
    horizontal-align: right;
}

#chkFilterSelectAll .checkbox {
    margin-left: 6;
}