@import url("~/views/location-search/location-search.common.css");

#btnSearchIcon {
    border-radius: 0;
}

Button {
    border-radius: 0;
}

#SearchBox{
    margin-left: 15;
    margin-right: 15;
}