@import url("~/views/referral-providers/referral-providers.common.css");
Button {
    margin: 18 0 0 0;
    background-image: none;
    background-color: #9e0425;
    color: #fff;
    border-radius: 0;
    text-transform:uppercase
}
.results{
	horizontal-align:right;
	vertical-align:top;
	color:#9e0425
}
.orderDetials {
    padding: 10%;
}

.distance, .results {
    font-size: 12;
}
.orderDetails .title{
	font-size:16
}
.info{
	font-size:12
}
.card {
    /*border-width: 1;
    border-style: solid;
    border-color: #eeeae1;
    border-radius: 12;*/
    background-color: #fff;
    margin: 10 17;
    padding: 20 15;
}
.subTitle{
    font-size:16;
    font-weight:bold;
    margin:0;
}
#bottomButtons {
    height: 55;
    width: 100%;
}

    #bottomButtons StackLayout {
        height: 60;
    }

        #bottomButtons StackLayout Label {
            margin: 15 0;
            font-size: 16;
            font-weight: bold;
            color: #fff;
        }

            #bottomButtons StackLayout Label.icon {
                margin-left: 10;
                font-size: 22;
            }

#bottomButtonLeft{
    horizontal-align: center;
    background-color: #9e0425;
    width: 100%;
}

#bottomButtonLeftRipple {
    width: 100%;
    background-color: #9e0425;
}
.checkbox{
    margin:0 5 0 0;
}
.filtersListView {
    
}

.listViewItem {
    padding: 10 20;
    color: #fff;
    width:100%;
    background-color:#8b7867;
}
.genderIcon {
    width: 15;
    margin:0 10 0 0
}
.locatoinDetails Label{
    font-size:12
}
.showIns{
    background-color:#eee
}
.closeIns{
    background-color:transparent
}
.closeBtn {
    width: 25;
    height: 25;
    margin: 0 0 0 10;
    background-image: ~/images/iconCheckCircle.png;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.btnClearIcon {
    width: 50;
    margin: 0;
    horizontal-align: right;
    background-image:none;
    border-color: transparent;
    border-width: 1 
}
.apply{
    width:15;
    height:15;
    margin:0 0 0 10;
    background-image: ~/images/icon_checkMarkWhite.png;
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat
}
.starRating{
    height:17;
    background-image: ~/images/five-stars.png;
    background-position: top left;
    background-size:cover; 
}
.starRatingDefatult{
    left:0;
    top:0;
    height:17;
    background-image: ~/images/five-stars-grey.png;
    background-position: top left;
    background-size:cover; 
}
.locations{
    padding:7 0;
    text-decoration:underline;
    /*background-image: ~/images/marker.png;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:left center;*/
}
.specialties{
    width:13;
    height:13;
    font-size:10;
    margin:0 0 0 5;
    horizontal-align:center;
    vertical-align:center;
    text-align:center;
}
.moreSpecialties{
	font-size:13;
    color:#9e0425;
    text-decoration:underline
}
