#providerTabView {
    margin-bottom: 60;
    margin-top: 131;
    /*vertical-align:top;*/
}

.section {
    padding: 9 17;
}

.sectionHeader {
    font-size: 16;
    font-weight: bold;
}

#backToResults {
    padding: 0 17;
    width: 100%;
    /*height: 60;*/
    vertical-align: top;
    border-style: solid;
    border-width: .5;
    border-color: #eeeae1;
}

#backToResults > StackLayout {
    width: 100%;
}

#backToResults > StackLayout > StackLayout {
    height: 50%;
    margin-left: 17;
    vertical-align: center;
}

#backToResults StackLayout.horizontalLine {
    width: 100%;
    height: 1;
    margin: 0;
}

#backToResults Label.text {
    font-size: 17;
    font-weight: normal;
    color: #4f4f4f;
}

#backToResults Label.icon {
    margin-right: 15;
    font-size: 22;
    color: #bf0d32;
}

#back {
    padding: 10 0;
}
.providerMainStack{
    margin: 0;
    padding: 0;
    width: 100%;
}
.providerMainStack1{
    margin: 0;
    padding: 0;
    width: 100%;
}
.providerMainStack2{
    
    margin: 0;
    padding: 0;
}
.distance{
    margin-top: 2;
    margin-bottom: 1;
}
#providerHeader {
    padding-top: 0;
    padding-bottom: 0;
    
    margin: 0;
}

#providerName {
    padding: 0 0;
}

#providerName > Label {
    font-size: 20;
}

.providerSpecialties {
    margin-bottom: 0;
    margin-top: 0;
}

#providerAppointmentNumber {
    padding-top: 3;
    padding-bottom: 0;
    margin-bottom: 0;
}

#providerAppointmentNumber Label.providerAppointmentNumberValue {
    margin-left: 5;
    color: #ed3942;
    margin-bottom: 0;
}

#providerPofile {
    padding: 10;
}

#providerPofile Image,
#providerPofile StackLayout {
    vertical-align: top;
}

#providerImage {
    /*width: 113;*/
    height: 124;
    vertical-align: top;
    margin-top: 3;
}

#providerDetails {
    margin-left: 17;
}

#providerCerts {
    margin-bottom: 10;
}

.providerCert,
.providerEducation Label {
    font-size: 14;
}

#bottomButtons {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

    #bottomButtons StackLayout {
        height: 50;
    }

        #bottomButtons StackLayout Label {
            margin: 15 0;
            font-size: 14;
            font-weight: bold;
            color: #fff;
        }

            #bottomButtons StackLayout Label.icon {
                margin-left: 10;
                font-size: 18;
            }

#bottomButtonLeft,
#bottomButtonRight {
    horizontal-align: center;
}

#bottomButtonLeft {
    background-color: #bf0d32;
    width: 58%;
}

#bottomButtonRight {
    background-color: #9e0425;
    width: 43%;
}

.providerLocation {
    color: #3b3b3b;
}

.locationName {
    /*font-size: 16;*/
}

.locationAddress {
    font-size: 14;
}

.locationAppointmentPhone {
    color: #bf0d32;
}

.providerLocationAvailability {
    margin-top: 8;
}

.tabContent {
    padding: 9 17;
}



.horizontalLine2 {
    height: 1;
    border-color: #cacaca;
    border-width: .5;
    border-style: solid;
    width: 100%;
    margin-top:7;
    margin-bottom:7;
}
.margintop{

    margin-top:10;
}
.marginbtm{
    margin-bottom:10;
}
.textcenter{
     horizontal-align: center;

     padding-bottom:0;

}
.starRating{
    height:17;
    background-image: ~/images/five-stars.png;
    background-position: top left;
    background-size:cover; 
}
.starRatingDefatult{
    left:0;
    top:0;
    height:17;
    background-image: ~/images/five-stars-grey.png;
    background-position: top left;
    background-size:cover; 
}
