
=<ActionBar title="My App" class="action-bar">
</ActionBar>

<ScrollView>
	<FlexboxLayout flexDirection="column" backgroundColor="#F4F5F7">
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
		<FlexboxLayout>
			<Button height=60 text="Click Me!"></Button>
		</FlexboxLayout>
	</FlexboxLayout>
</ScrollView>
