<ActionBar class="header">
    <NavigationButton ios.position="left" *mbIfAndroid android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <NavigationButton *mbIfIos visibility="collapse"></NavigationButton>
    <ActionItem *mbIfIos>
        <Image src="~/images/icon/ios_back.png" (tap)="goBack();" class="actionArrow"></Image>
    </ActionItem>
    <StackLayout class="iosActionbar" *mbIfIos>
        <mb-header [title]="title"></mb-header>
    </StackLayout>
    <StackLayout *mbIfAndroid>
        <mb-header [title]="title"></mb-header>
    </StackLayout>
</ActionBar>
<mb-side-menu *mbIfAndroid></mb-side-menu>
<GridLayout rows="*" columns="*">
    <mb-side-menu *mbIfIos></mb-side-menu>
    <StackLayout class="webViewScroll">
        <!-- <ScrollView> -->
            <GridLayout #privacyGrid class="label-text-stacklayout" columns="*" rows="*" height="100%">
                <WebView verticalAlignment="top" [src]="privacyHtmlString" class="privacy-html" height="90%"></WebView>
            </GridLayout>
        <!-- </ScrollView> -->
        <StackLayout class="lower-shadow-img">
            <Image src="~/images/myblue-app2.0-card-shadow.png"></Image>
        </StackLayout>
    </StackLayout>
    <DockLayout style.verticalAlignment="bottom">
        <mb-tab></mb-tab>
    </DockLayout>
</GridLayout>