<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <Label text="Tap on item and app throws." editable="false"></Label>
    <Label text="ap.css has color set" textWrap="true"></Label>
    <Label text="item-detail has list-picker" textWrap="true"></Label>
    <ListView [items]="items" class="list-group">
        <template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
                class="list-group-item"></Label>
        </template>
    </ListView>
</StackLayout>
