.lblUhCalling {
    color: #bf0d32;
    font-size: 22;
    /*font: bold;*/
}

.header {
    color: #000;
    font: bold;
}
.action-image {
    width: 160;
    height: 210;
    vertical-align: center;
    horizontal-align: center;
    margin-top: 10;
    margin-bottom: 10;

}

.itemright {
    width: 90;
    height: 87;
    vertical-align: center;
    horizontal-align: center;


    text-align: right;
    height: 100%;
    horizontal-align: right;
}

.header {
    margin-top: 12;
    margin-bottom: 12;
    margin-left: 10;
    margin-right: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18;
    /*font: bold;*/
}

.body {
    margin-left: 10;
    font-size: 14;
}

/*#back {
    margin-left: 10;
}*/

.ReturtoUHNow {
    margin-top: 10;
    background-image: none;
    background-color: #9e0425;
    color: #fff;
    border-radius:0;
    text-align:center;
}

CallStackLayout{
    
    margin-top: 10;
    vertical-align:center
}
.CallStackLayout image{
    width:10;
    height:auto;
   

}
.CallStackLayout DockLayout{
    padding:0 10 0 15;
    height:40

}

.CallStackLayout Label{
    font-size: 15;
    letter-spacing:-.02;
    vertical-align:center;
    text-align: left;
    color:white;
    padding:10 10 10 10; 
     width: "250px"
}
.back {
    width: auto;
    horizontal-align:right;
    background-color:#bf0d32;
}