#disclaimerHeading {
    margin-bottom: 40;
}

#disclaimerText {
    margin-bottom: 15;
}

.disclaimerCheckItem {
    margin-bottom: 20;
}

.disclaimerCheckItem1 {
    margin-bottom: 40;
}

/*.checkbox {
    vertical-align: top;
    margin-right:20;
}*/

/*.checkboxLabel {
    margin-left: 5;
}*/

#disclaimerContent{
    padding: 0 20;
    padding-top: 27;
    padding-bottom:0;
    height:100%;
    background-position:bottom ;
    background-repeat:no-repeat;
    background-size: contain;
}

#bottonContent{
   margin-left:0;
   margin-top:0; 
   padding-top:0 !important;     
}

.discContent{
    padding-top:0 !important; 
    margin-bottom: 10;
    margin-top: 20;
}


.discContent1{
    padding-top:0 !important; 
    margin-bottom: 30;
    margin-top: 20;
}

.agreeContent{    
    background-position:bottom ;
    background-repeat:no-repeat;
    background-size: contain;
    position:absolute;
    vertical-align:bottom;
    padding: 20;
    margin-top: 15;
}

.IagreeBtn {
    /*margin-top: 10;*/
    background-image: none;
    background-color: #9e0425;
    color: #fff;
    border-radius:0;
    text-align:center;
    text-transform:uppercase
}