<TabView>

    <StackLayout *tabItem="{title: 'ScrollView'}">
        <ScrollView>
            <StackLayout>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>
                <Image src="res://logo"></Image>    
            </StackLayout>
        </ScrollView>
    </StackLayout>

    <StackLayout *tabItem="{title: 'MapView'}">
        <MapView zoom="5"></MapView>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Empty'}">
    </StackLayout>

</TabView>